<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Site's Title</title>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2'></script> <!-- jquery -->
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="StyleSheet.css">
        <script type="text/javascript" src="Script.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="header_pic" class="borders">
                <img src="http://placehold.it/100" alt="0" style="border-radius: 100px;">
            </div>

            <div id="header_curve" class="borders">
                <span id="fName">Zachary</span> <span id="lName">Boulanger</span>
            </div>

            <div id="nav_anchor"></div>
            <nav id="nav" class="borders">
                <ul id="links" class="verticalCenter">
                    <!-- vertical center code from http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ -->
                    <li id="hw"><a href="#HelloWorld">Hello World</a></li>
                    <li id="ed"><a href="#Education">Education</a></li>
                    <li id="we"><a href="#WorkExperience">Work Experience</a></li>
                    <li id="pr"><a href="#Projects">Projects</a></li>
                    <li id="co"><a href="#Contact">Contact</a></li>
                </ul>
            </nav>

            <div id="content" class="borders">
                <h1 id="HelloWorld">Hello World</h1>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ultrices sollicitudin. Donec ut sem dapibus, blandit dui molestie, 
                   aliquam lectus. Aliquam a dui libero. Fusce sapien tellus, sodales et sem a, mattis mattis erat. Duis vitae ultricies enim. Cras volutpat 
                   non sem quis ullamcorper. Nulla sit amet sem leo. Nullam bibendum mauris ut eros facilisis, id imperdiet turpis ornare. Donec eget metus mi. 
                   Nulla facilisi. Donec interdum justo eget eros aliquam suscipit. Donec leo sapien, rhoncus quis tortor eget, dictum vulputate diam.</p>

                   <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                   ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                   orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                   porttitor velit.</p>

                <h1 id="Education">Education</h1>

                   <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                   ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                   orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                   porttitor velit.</p>

                <h2 id="Degree">Academic Records</h2>

                   <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                   ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                   orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                   porttitor velit.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ultrices sollicitudin. Donec ut sem dapibus, blandit dui molestie, 
                   aliquam lectus. Aliquam a dui libero. Fusce sapien tellus, sodales et sem a, mattis mattis erat. Duis vitae ultricies enim. Cras volutpat 
                   non sem quis ullamcorper. Nulla sit amet sem leo. Nullam bibendum mauris ut eros facilisis, id imperdiet turpis ornare. Donec eget metus mi. 
                   Nulla facilisi. Donec interdum justo eget eros aliquam suscipit. Donec leo sapien, rhoncus quis tortor eget, dictum vulputate diam.</p>

                <h2 id="Organizations">Organizations</h2>

                    <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                    ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                    orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                    porttitor velit.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ultrices sollicitudin. Donec ut sem dapibus, blandit dui molestie, 
                   aliquam lectus. Aliquam a dui libero. Fusce sapien tellus, sodales et sem a, mattis mattis erat. Duis vitae ultricies enim. Cras volutpat 
                   non sem quis ullamcorper. Nulla sit amet sem leo. Nullam bibendum mauris ut eros facilisis, id imperdiet turpis ornare. Donec eget metus mi. 
                   Nulla facilisi. Donec interdum justo eget eros aliquam suscipit. Donec leo sapien, rhoncus quis tortor eget, dictum vulputate diam.</p>

                <h2 id="Skills">Skills</h2>

                    <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                    ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                    orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                    porttitor velit.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ultrices sollicitudin. Donec ut sem dapibus, blandit dui molestie, 
                   aliquam lectus. Aliquam a dui libero. Fusce sapien tellus, sodales et sem a, mattis mattis erat. Duis vitae ultricies enim. Cras volutpat 
                   non sem quis ullamcorper. Nulla sit amet sem leo. Nullam bibendum mauris ut eros facilisis, id imperdiet turpis ornare. Donec eget metus mi. 
                   Nulla facilisi. Donec interdum justo eget eros aliquam suscipit. Donec leo sapien, rhoncus quis tortor eget, dictum vulputate diam.</p>

                <h1 id="WorkExperience">Work Experience</h1>

                    <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                    ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                    orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                    porttitor velit.</p>

                <h2 id="Summer2013">Summer 2013</h2>

                    <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                    ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                    orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                    porttitor velit.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ultrices sollicitudin. Donec ut sem dapibus, blandit dui molestie, 
                   aliquam lectus. Aliquam a dui libero. Fusce sapien tellus, sodales et sem a, mattis mattis erat. Duis vitae ultricies enim. Cras volutpat 
                   non sem quis ullamcorper. Nulla sit amet sem leo. Nullam bibendum mauris ut eros facilisis, id imperdiet turpis ornare. Donec eget metus mi. 
                   Nulla facilisi. Donec interdum justo eget eros aliquam suscipit. Donec leo sapien, rhoncus quis tortor eget, dictum vulputate diam.</p>

                <h2 id="Summer2014">Summer 2014</h2>

                    <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                    ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                    orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                    porttitor velit.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ultrices sollicitudin. Donec ut sem dapibus, blandit dui molestie, 
                   aliquam lectus. Aliquam a dui libero. Fusce sapien tellus, sodales et sem a, mattis mattis erat. Duis vitae ultricies enim. Cras volutpat 
                   non sem quis ullamcorper. Nulla sit amet sem leo. Nullam bibendum mauris ut eros facilisis, id imperdiet turpis ornare. Donec eget metus mi. 
                   Nulla facilisi. Donec interdum justo eget eros aliquam suscipit. Donec leo sapien, rhoncus quis tortor eget, dictum vulputate diam.</p>

                <h2 id="Summer2015">Summer 2015</h2>

                    <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                    ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                    orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                    porttitor velit.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ultrices sollicitudin. Donec ut sem dapibus, blandit dui molestie, 
                   aliquam lectus. Aliquam a dui libero. Fusce sapien tellus, sodales et sem a, mattis mattis erat. Duis vitae ultricies enim. Cras volutpat 
                   non sem quis ullamcorper. Nulla sit amet sem leo. Nullam bibendum mauris ut eros facilisis, id imperdiet turpis ornare. Donec eget metus mi. 
                   Nulla facilisi. Donec interdum justo eget eros aliquam suscipit. Donec leo sapien, rhoncus quis tortor eget, dictum vulputate diam.</p>

                <h1 id="Projects">Projects</h1>

                    <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                    ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                    orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                    porttitor velit.</p>

                <h2 id="Github">Github/Personal Projects</h2>

                    <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                    ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                    orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                    porttitor velit.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ultrices sollicitudin. Donec ut sem dapibus, blandit dui molestie, 
                   aliquam lectus. Aliquam a dui libero. Fusce sapien tellus, sodales et sem a, mattis mattis erat. Duis vitae ultricies enim. Cras volutpat 
                   non sem quis ullamcorper. Nulla sit amet sem leo. Nullam bibendum mauris ut eros facilisis, id imperdiet turpis ornare. Donec eget metus mi. 
                   Nulla facilisi. Donec interdum justo eget eros aliquam suscipit. Donec leo sapien, rhoncus quis tortor eget, dictum vulputate diam.</p>

                <h2 id="MoPho2015">Mobile Phone Orchestra</h2>

                    <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                    ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                    orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                    porttitor velit.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ultrices sollicitudin. Donec ut sem dapibus, blandit dui molestie, 
                   aliquam lectus. Aliquam a dui libero. Fusce sapien tellus, sodales et sem a, mattis mattis erat. Duis vitae ultricies enim. Cras volutpat 
                   non sem quis ullamcorper. Nulla sit amet sem leo. Nullam bibendum mauris ut eros facilisis, id imperdiet turpis ornare. Donec eget metus mi. 
                   Nulla facilisi. Donec interdum justo eget eros aliquam suscipit. Donec leo sapien, rhoncus quis tortor eget, dictum vulputate diam.</p>

                <h2 id="42Hours">42 Hours of ReCreativity</h2>

                    <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                    ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                    orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                    porttitor velit.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ultrices sollicitudin. Donec ut sem dapibus, blandit dui molestie, 
                   aliquam lectus. Aliquam a dui libero. Fusce sapien tellus, sodales et sem a, mattis mattis erat. Duis vitae ultricies enim. Cras volutpat 
                   non sem quis ullamcorper. Nulla sit amet sem leo. Nullam bibendum mauris ut eros facilisis, id imperdiet turpis ornare. Donec eget metus mi. 
                   Nulla facilisi. Donec interdum justo eget eros aliquam suscipit. Donec leo sapien, rhoncus quis tortor eget, dictum vulputate diam.</p>

                <h2 id="Workshop">Website Workshop</h2>

                    <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                    ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                    orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                    porttitor velit.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ultrices sollicitudin. Donec ut sem dapibus, blandit dui molestie, 
                   aliquam lectus. Aliquam a dui libero. Fusce sapien tellus, sodales et sem a, mattis mattis erat. Duis vitae ultricies enim. Cras volutpat 
                   non sem quis ullamcorper. Nulla sit amet sem leo. Nullam bibendum mauris ut eros facilisis, id imperdiet turpis ornare. Donec eget metus mi. 
                   Nulla facilisi. Donec interdum justo eget eros aliquam suscipit. Donec leo sapien, rhoncus quis tortor eget, dictum vulputate diam.</p>

                <h2 id="A2RU">A2RU</h2>

                    <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                    ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                    orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                    porttitor velit.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ultrices sollicitudin. Donec ut sem dapibus, blandit dui molestie, 
                   aliquam lectus. Aliquam a dui libero. Fusce sapien tellus, sodales et sem a, mattis mattis erat. Duis vitae ultricies enim. Cras volutpat 
                   non sem quis ullamcorper. Nulla sit amet sem leo. Nullam bibendum mauris ut eros facilisis, id imperdiet turpis ornare. Donec eget metus mi. 
                   Nulla facilisi. Donec interdum justo eget eros aliquam suscipit. Donec leo sapien, rhoncus quis tortor eget, dictum vulputate diam.</p>

                <h1 id="Contact">Contact</h1>

                    <p>Curabitur sollicitudin nulla elit, ut aliquet lorem efficitur sit amet. Proin rhoncus nisi sit amet arcu finibus blandit. Nam at est semper 
                    ligula tempus laoreet. Donec in felis vulputate, malesuada urna sit amet, gravida enim. Sed imperdiet sapien a turpis efficitur, nec feugiat 
                    orci rutrum. Fusce in turpis quis sapien dapibus egestas. Curabitur commodo rhoncus pharetra. Phasellus at arcu gravida, egestas massa tincidunt, 
                    porttitor velit.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ultrices sollicitudin. Donec ut sem dapibus, blandit dui molestie, 
                   aliquam lectus. Aliquam a dui libero. Fusce sapien tellus, sodales et sem a, mattis mattis erat. Duis vitae ultricies enim. Cras volutpat 
                   non sem quis ullamcorper. Nulla sit amet sem leo. Nullam bibendum mauris ut eros facilisis, id imperdiet turpis ornare. Donec eget metus mi. 
                   Nulla facilisi. Donec interdum justo eget eros aliquam suscipit. Donec leo sapien, rhoncus quis tortor eget, dictum vulputate diam.</p>

            </div>
        </div>
    </body>
</html>
