@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Site's Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="StyleSheet.css">
    </head>
    <body>
        <div id="container">
            <div id="header_pic">

            </div>

            <div id="header_curve">
                <p align="left" id="fName">Zachary</p> <p align="right" id="lName">Boulanger</p>
            </div>

            <div id="nav">
        
            </div>

            <div id="content">
        
            </div>
        </div>
    </body>
</html>
