body {
    color: #000000;
    background-color: #f2fbff;
}

/* background-image: url("polaroid_2x.png");
    background-repeat: repeat; */

h1 {
    color: #37711b;
}

h2 {
    color: #1f4f77;
}

#container {
    width: 100%;
    text-align: center;
}

#header_pic {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 100px;
    background-color: white;
    z-index: 111000;
}

#header_curve {
    width: 900px;
    height: 125px;
    margin: 0 auto;
    margin-top: -50px;
    border-bottom: 0px;
    border-radius: 50px;
    background-color: #ffffff;
}

#fName {
    position: relative;
    left: -100px;
    font-size: 60px;
    color: #203d12;
    font-weight: bold;
}

#lName {
    position: relative;
    right: -130px;
    font-size: 60px;
    color: #203d12;
    font-weight: bold;
}

#nav {
    width: 900px;
    height: 75px;
    display: inline-block;
    background-color: #ffffff;
}

nav.stick {
    position: fixed;
    top: 0px;
    display: inline-block;
    z-index: 10000;
}

nav.unstick {
    position: relative;
    top: -50px;
}

#content {
    width: 900px;
    display: inline-block;
    margin-top: -55px;
    background-color: #ffffff;
    border-top: 0px;
    margin-bottom: 100px;
}

.borders {
    border-style: double;
    border-color: gray;
    border-width: thick;
}

#links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: table;
    width: 900px;
}

#links li {
    display: table-cell;
}

.verticalCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#links li a:link, #links li a:visited {
    color: #4b9626;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#links li a:hover, #links li a:active {
    color: #1f4f77;
}